.input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #F2F2F2;
  color: #111111;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
