.main {
    width:32.98rem;
    background: #ffff;
    padding-top: 2.4rem;
    padding-bottom: 2.03rem;
    padding-left: 1.3rem;
    padding-right: 1.37rem;
  }

  .main__title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.62rem;
    letter-spacing: -0.02rem;
  }
  
  .main__text {
    font-size: 0.87rem;
    line-height: 1rem;
  }

 